@import "normal.scss";

.blogTitle {
  text-align: center;
  margin-bottom: 80px;
  .title-lg {
    margin-bottom: 24px;
  }

  p {
    color: $primary-500;
  }
}

.blogItem {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.blogs {
  width: 966px;
  padding-right: 24px;
}
.blogmenu {
  width: 306px;
  background: $primary-100;
  padding: 80px 0px 0px 80px;
  border-radius: 8px;
  gap: 32px;
  .memuall {
    color: $primary-800;
  }
  .menutag {
    padding-bottom: 32px;
  }
  a {
    color: $primary-600;
    padding-bottom: 4px;
  }
  a:hover {
    color: $primary-800;
    border-bottom: 1px solid $primary-800;
  }
}
.blogCard {
  display: flex;
  margin-bottom: 64px;
  img {
    margin-bottom: 16px;
  }
  .blogDesc {
    padding-left: 16px;
    .blogtag {
      display: flex;
      align-items: center;
      .tag {
        background: $primary-200;
        margin-left: 16px;
      }
    }
  }
}

.blogPaper {
  h5 {
    margin-bottom: 16px;
  }
}
/* blogpaper */
.paperTitle {
  text-align: center;
  margin: 40px 0px;
  h2, h4 {
    margin-bottom: 24px;
  }
}

.paperdesc {
  h4 {
    margin-bottom: 16px;
  }
  .fs-5 {
    margin-bottom: 40px;
  }
}

.paperimgs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  .papercard {
    width: 48%;
    margin: 0 auto;
    p{
      text-align: center;
    }
  }
}

.blogpapers {
  padding-top: 80px;
  border-top: 1px solid;
  h4 {
    margin-bottom: 40px;
  }
}

.blogarticles {
  display: flex;
  flex-wrap:wrap;
  gap: 24px;
  
}

@media (max-width: 767px) {
  .blogItem {
    flex-direction: column-reverse;
    margin: 0px 34.5px;
  }
  .blogmenu {
    width: 100%;
    display: flex;
    padding: 20px 0px 24px 12px;
    li {
      padding-right: 32px;
    }
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 1.2;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .blogs {
    width: 100%;
  }
  .blogCard {
    flex-direction: column;
    margin-bottom: 40px;

    .blogDesc {
      padding: 0px 8px;
      .blogtag {
        justify-content: space-between;
        margin-bottom: 16px;
      }
    }
  }
  .blogPaper {
    h5 {
      margin-bottom: 12px;
    }
  }

  .paperimgs {
    .papercard {
      width: 100%;
    }
  }
  .blogpapers {
    padding: 40px 22.5px 80px 22.5px;
    h4 {
      text-align: center;
    }
  }


}
