@charset "UTF-8";
body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  line-height: 38.4px;
  color: #3b3b3b;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  line-height: 24x;
  font-weight: 600;
}

.fs-4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.fs-5 {
  font-size: 20px;
  line-height: 30px;
  color: #5b5b5b;
}

.fs-6 {
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
}

/* Text decorate */
.mark {
  background-color: #ffffff;
  background-image: url("https://chichihuang93076.github.io/2024webcamp/images/icon/mark.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

/* 線條和逗點 */
.dot {
  background-color: #c1c1c1;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.dot12 {
  background-color: #e9e9e9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.line94 {
  background-color: #c1c1c1;
  width: 94px;
  height: 1px;
}

.line45 {
  background-color: #c1c1c1;
  width: 24px;
  height: 2px;
}

.line46 {
  background-color: #c1c1c1;
  width: 41px;
  height: 1px;
}

.line47 {
  background-color: #1e1e1e;
  width: 80px;
  height: 2px;
}

.title-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 80px 0px;
}
.title-lg h2 {
  padding: 0px 16px 0px 16px;
}

.tag {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 4px 12px 4px 12px;
}

@media (max-width: 767px) {
  .tag {
    background-color: #f1f1f1;
  }
}
.blogTitle {
  text-align: center;
  margin-bottom: 80px;
}
.blogTitle .title-lg {
  margin-bottom: 24px;
}
.blogTitle p {
  color: #919191;
}

.blogItem {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.blogs {
  width: 966px;
  padding-right: 24px;
}

.blogmenu {
  width: 306px;
  background: #fafafa;
  padding: 80px 0px 0px 80px;
  border-radius: 8px;
  gap: 32px;
}
.blogmenu .memuall {
  color: #1e1e1e;
}
.blogmenu .menutag {
  padding-bottom: 32px;
}
.blogmenu a {
  color: #5b5b5b;
  padding-bottom: 4px;
}
.blogmenu a:hover {
  color: #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
}

.blogCard {
  display: flex;
  margin-bottom: 64px;
}
.blogCard img {
  margin-bottom: 16px;
}
.blogCard .blogDesc {
  padding-left: 16px;
}
.blogCard .blogDesc .blogtag {
  display: flex;
  align-items: center;
}
.blogCard .blogDesc .blogtag .tag {
  background: #f1f1f1;
  margin-left: 16px;
}

.blogPaper h5 {
  margin-bottom: 16px;
}

/* blogpaper */
.paperTitle {
  text-align: center;
  margin: 40px 0px;
}
.paperTitle h2, .paperTitle h4 {
  margin-bottom: 24px;
}

.paperdesc h4 {
  margin-bottom: 16px;
}
.paperdesc .fs-5 {
  margin-bottom: 40px;
}

.paperimgs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
.paperimgs .papercard {
  width: 48%;
  margin: 0 auto;
}
.paperimgs .papercard p {
  text-align: center;
}

.blogpapers {
  padding-top: 80px;
  border-top: 1px solid;
}
.blogpapers h4 {
  margin-bottom: 40px;
}

.blogarticles {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 767px) {
  .blogItem {
    flex-direction: column-reverse;
    margin: 0px 34.5px;
  }
  .blogmenu {
    width: 100%;
    display: flex;
    padding: 20px 0px 24px 12px;
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 1.2;
  }
  .blogmenu li {
    padding-right: 32px;
  }
  .blogmenu::-webkit-scrollbar {
    display: none;
  }
  .blogs {
    width: 100%;
  }
  .blogCard {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .blogCard .blogDesc {
    padding: 0px 8px;
  }
  .blogCard .blogDesc .blogtag {
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .blogPaper h5 {
    margin-bottom: 12px;
  }
  .paperimgs .papercard {
    width: 100%;
  }
  .blogpapers {
    padding: 40px 22.5px 80px 22.5px;
  }
  .blogpapers h4 {
    text-align: center;
  }
}/*# sourceMappingURL=blog.css.map */